@mixin flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

$bgColor: #202020;
$titleBgColor: #20202099;
$mapBgColor: #add8e6;
$sectionHeaderColor: #4b4ba5;
$comebackHover: #c1c1c1;

// --------------------------
// GENERAL
// --------------------------

html,
body,
.bg-grey {
  background-color: $bgColor;
}

main {
  background-color: #fff;
}

body {
  padding-top: 65px;
}

a,
a:hover {
  color: #fff;
  text-decoration: none;
}

// --------------------------
// NAVBAR
// --------------------------

nav {
  z-index: 1;
}

.navbar {
  min-height: 65px;
}

.comeBack {
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $comebackHover;
  }
}

// --------------------------
// TRAVEL SEARCH
// --------------------------

$greyColor: #969696;
$quantityColor: #fff;
$quantityHoverColor: #29a34c;
$suggestionLinkColor: #707070;
$suggestionsBgColor: #f5f5f5;

.searchingBar {
  padding: 3px 10px;
  margin-left: 10px;
  width: 200px;
  height: 30px;
  resize: none;
  border: 0 {
    radius: 5px;
  }
}

.searching {
  position: relative;
  height: 100%;
  display: flex;

  span {
    position: absolute;
    top: 3px;
    right: 10px;
    color: $greyColor;
    cursor: pointer;
  }
}

.searchBox {
  display: flex;
  align-items: center;
  width: 100%;
}

@media (min-width: 576px) {
  .searchBox {
    width: auto;
  }
}

.suggestions {
  background-color: $suggestionsBgColor;
  position: absolute;
  margin-left: 10px;
  z-index: 3;
  width: 200px;
  top: 30px;
  border-radius: 0 0 5px 5px;
  padding: 0;
  list-style-type: none;

  a {
    color: $suggestionLinkColor;
    text-decoration: none;
    display: block;
  }
}

.bar {
  margin: 3px 0;
  color: $greyColor;

  &:last-of-type {
    display: none;
  }
}

.singleSuggestion {
  padding: 4px 10px;
}

.quantity {
  height: 40px;
  width: 40px;
  @include flexbox();
  transition: 0.2s ease-in-out;
  margin-top: 10px;
  border: 3px solid $quantityColor {
    radius: 15px;
  }

  &:hover {
    border: 3px solid $quantityHoverColor;
  }
}

@media (min-width: 576px) {
  .quantity {
    margin-top: 0px;
  }
}

// --------------------------
// MENU
// --------------------------

.cardsBox {
  overflow: hidden;

  a {
    display: contents;
  }
}

.section {
  width: 100%;
  height: 30vh;
  transition: 0.5s all ease-in-out;
  @include flexbox();
  position: relative;
  border: 1px solid #000;

  &:hover {
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }
}

@media (min-width: 576px) {
  .section {
    width: 20%;
    height: calc(100vh - 121px);

    &:hover {
      width: 70%;
    }
  }
}

@media (min-width: 768px) {
  .section:hover {
    width: 35%;
  }
}

.title {
  background-color: $titleBgColor;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

#travel,
#events,
#personal,
#fun,
#others {
  background-size: cover;
}

#travel {
  background-image: url("./assets/images/1.jpg");
  background-position: left;
}

#events {
  background-image: url(./assets/images/2.jpg);
}

#personal {
  background-image: url(./assets/images/3.jpg);
  background-position: center;
}

#fun {
  background-image: url(./assets/images/4.jpg);
  background-position: center;
}

#others {
  background-image: url(./assets/images/5.jpg);
  background-position: center;
}

.travelBox {
  height: calc(100vh - 121px);
  @include flexbox();
  overflow: hidden;
  position: relative;
  background-color: $mapBgColor;

  h1 {
    padding: 10px;
  }
}

.osobisteBox,
.rozrywkaBox,
.wydarzeniaBox,
.inneBox {
  ul {
    list-style-type: none;
    margin: 30px 0;
    padding-left: 10px;
    font-size: 18px;
  }

  li {
    display: flex;
    align-items: center;
  }

  input {
    margin: 20px;
    transform: scale(1.3);
  }

  h1 {
    margin: 50px 0 30px;
    background-color: $sectionHeaderColor;
    color: #fff;
    padding: 15px 10px;
    font: {
      family: "Raleway", sans-serif;
      weight: 200;
    }
  }
}

#wydarzenia,
#osobiste,
#rozrywka,
#inne {
  padding-top: 65px;
  margin-top: -65px;
}

@media (min-width: 567px) {
  .osobisteBox,
  .rozrywkaBox,
  .wydarzeniaBox,
  .inneBox {
    ul {
      padding-left: 40px;
    }
  }
}

// --------------------------
// MAP ZOOM
// --------------------------

$countryHoverColor: #dcffba;

.travelBox svg {
  transition: 0.5s ease-in-out;
  position: absolute;
  cursor: pointer;

  path:hover {
    fill: $countryHoverColor;
  }
}

.mapBox {
  height: 100%;
  width: 100%;
  @include flexbox();
  position: absolute;
  padding: 0;
}

.zoomNav {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#zoomPlus,
#zoomMinus {
  width: 30px;
  height: 30px;
}

// -------------------------
// RESULTS LIST
// -------------------------

.resultsBox {
  min-height: calc(100vh - 121px);

  ul {
    margin: 30px 0;
    padding-left: 40px;
  }

  li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 18px;
  }

  & > button {
    background-color: rgb(68, 177, 68);
    padding: 8px 20px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 30px 30px auto;
    border: 0 {
      radius: 10px;
    }
  }

  h1 {
    margin: 30px 0 40px;
    text-align: center;
  }

  h2 {
    background-color: rgb(75, 75, 165);
    color: #fff;
    padding: 15px 10px;
    font: {
      family: "Raleway", sans-serif;
      weight: 200;
    }
  }
}

.listIsEmpty {
  text-align: center;
}

.removeFromList {
  border: 0;
  background-color: transparent;
  color: #900202;
  font-size: 20px;
  padding-left: 10px;
}

// -------------------------
// MODAL
// -------------------------

.modalBackground {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1040;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: none;
}

.modalMap {
  width: 90%;
  min-height: 60%;
  background-color: #faebd7;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  border-radius: 20px;
  flex-direction: column;

  ul {
    list-style-type: none;
    padding: 0;

    &:last-of-type li {
      padding: 5px 0;
    }

    &:last-of-type li::before {
      content: "- ";
    }

    &:last-of-type li:nth-of-type(4),
    &:last-of-type li:nth-of-type(5) {
      display: none;
    }
  }
}

.leftModal {
  display: none;
  flex-direction: row;
  height: 100%;
  width: 18%;
  align-items: center;
  justify-content: space-evenly;
}

.middleModal {
  padding: 20px;
  height: 100%;
  width: 90%;
}

.rightModal {
  display: none;
  height: 100%;
  width: 22%;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  span {
    display: block;
    text-align: center;
  }
}

.flagModal {
  width: 70%;
}

.emblemModal {
  margin-top: 20px;
  width: 70%;
}

.closingBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 0;
  background-color: transparent;
  font-size: 22px;
  color: #adadad;
}

.travelSelectBtn {
  position: absolute;
  display: flex;
  align-items: center;
  right: 10px;
  bottom: 10px;
  padding: 6px 10px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;

  input {
    margin: 0px 5px 0 10px;
  }
}

.weatherModal {
  display: block;
  width: 80%;
}

.temperatureModal {
  font-size: 22px;
}

@media (min-width: 769px) {
  .modalMap {
    flex-direction: row;
  }

  .middleModal {
    padding: 20px;
    width: 60%;
  }

  .leftModal {
    flex-direction: column;
    display: flex;
  }

  .rightModal {
    flex-direction: column;
    display: flex;
  }
}

@media (min-width: 992px) {
  .modalMap {
    width: 65%;
  }
}

// --------------------------
// FOOTER
// --------------------------

footer {
  text-align: center;
}
