@import "/src/components/styles/colors.scss";

// czy tu też powinniśmy zrootować style?? (Przemek)

$borderRadius: 5px;
// border radius viariable

.loginBox {
  position: absolute;
  z-index: 1000;
}

.loginFormBg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 500;
}

.auth-form {
  margin: auto;
  width: 400px;
  background-color: $formColor;
  border: 1px solid $linkColor;
  border-radius: $borderRadius;
}

.form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-hidden {
  display: none;
}

.form-title {
  padding: 8px;
  color: $textColor;
}

.form-message-error {
  color: $errorColor;
}

.form-input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-input {
  width: 90%;
  margin: 20px;
  padding: 8px;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: rgba(49, 48, 48, 0.158);
  border: 2px solid $linkColor;
  border-radius: $borderRadius;
  transition: background 0.3s, border-color 0.3s;
}

.form-input:focus {
  border-color: rgb(114, 199, 128);
  background: white;
  box-shadow: 0 0 15px rgb(114, 199, 128);
  color: $formColor;
}

.form-input-error,
.form-create-error,
.form-pass-error,
.form-forgot-error {
  color: $errorColor;
  border-color: $errorColor;
}

.form-input-succes {
  color: rgb(114, 199, 128);
  border-color: rgb(114, 199, 128);
}

.form-button {
  margin: 16px 0;
  padding: 8px;
  width: 90%;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: rgb(68, 177, 68);
  color: $textColor;
  border-radius: $borderRadius;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: rgb(50, 133, 50);
}

.form-link {
  letter-spacing: 1px;
  text-decoration: none;
  color: $linkColor;
}

.form-text {
  margin: 8px;
}
