$countryHoverColor: #dcffba;

.travelBox svg {
  transition: 0.5s ease-in-out;
  cursor: pointer;
  position: absolute;

  path:hover {
    fill: $countryHoverColor;
  }
}

.mapBox {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0;
}

.zoomNav {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#zoomPlus,
#zoomMinus {
  width: 30px;
  height: 30px;
}
