.modalBackground {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1000000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: none;
}

.modalMap {
  width: 700px;
  background-color: antiquewhite;
  display: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}
