@import "./components/styles/resultsList.scss";
@import "./components/styles/mapModal.scss";

// @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap");

$bgColor: #202020;
$whiteColor: #fff;
$titleBgColor: #20202099;
$mapBgColor: lightblue;
$sectionHeaderColor: #4b4ba5;
$comebackHover: #c1c1c1;

// --------------------------
// GENERAL
// --------------------------

html,
body,
.bg-grey {
  background-color: $bgColor;
}

body {
  padding-top: 65px;
}

a,
a:hover {
  color: $whiteColor !important;
  text-decoration: none !important;
}

// --------------------------
// NAVBAR
// --------------------------

nav {
  z-index: 1 !important;
}

.navbar {
  min-height: 65px;
}

.comeBack {
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $comebackHover !important;
  }
}

@import "./components/styles/travelSearch.scss";

// --------------------------
// MENU
// --------------------------

@import "./components/styles/menuCards.scss";

// --------------------------
// LOGGING IN
// --------------------------

@import "./components/styles/loggingIn.scss";

// --------------------------
// MAP ZOOM
// --------------------------

@import "./components/styles/mapZoom.scss";

// --------------------------
// BOOTSTRAP
// --------------------------

@import "~bootstrap/scss/bootstrap";

// --------------------------
// FOOTER
// --------------------------

footer {
  text-align: center;
}
